/*reglas
selectores
declaraciones
propiedades
valores*/

body {
  background: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #ffffff;
  margin: 100px 150px 70px 30px;
}

h1 strong {
  color: black;
}
.hero {
  height: 300px;
  background-image: url("https://i.imgur.com/xN1fXj1.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: #fab328;
}

.portfolio {
  background: #fafafa;
  background: red;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
}
.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}

.header {
  background-color: #fab328;
  color: #000;
}

.header a {
  color: aliceblue;
  text-decoration: none;
}
