/*reglas
selectores
declaraciones
propiedades
valores*/

body {
  background: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #ffffff;
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
}

h1 strong {
  color: black;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px;
}

ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}
.hero {
  height: 300px;
  /* background-image: url("https://i.imgur.com/xN1fXj1.jpg"); */
  /* background-size: 200px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  background-color: #fab328;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-image {
  object-fit: cover;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  /* margin: 10px; */
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
}
/* .project-date {
  margin: 10px 0;
} */
.project-tittle {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 300px;
}

.header {
  background-color: #fab328;
  color: #000;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.header a {
  color: aliceblue;
  text-decoration: none;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;
  flex-shrink: 0;
}

.footer {
  background-color: #fab328;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-tittle {
  margin-left: 20px;
}
.event {
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f4fbff;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event-detail {
  margin: 20px 40px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}
.event-url {
  color: #8561c5;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 20px;
  text-decoration: none;
}
.contact {
  background-color: #8561c5;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
}
.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url("https://icomoon.io/icons39f00d9/13/122.svg");
}
.social-link.facebock {
  background-image: url("https://icomoon.io/icons39f00d9/11/359.svg");
}
.social-link.github {
  background-image: url("https://icomoon.io/icons39f00d9/4/293.svg");
}
.social-link.instagram {
  background-image: url("https://icomoon.io/icons39f00d9/11/366.svg");
}

.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url("https://icomoon.io/icons39f00d9/5/115.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: #ffffff;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
}
.form-email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
